<div class="update-dialog">
  <h1 mat-dialog-title>Update Category</h1>
  <form #myForm="ngForm">
    <div mat-dialog-content fxLayout="column">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input
          matInput
          [(ngModel)]="newObj.name"
          name="name"
          #name="ngModel"
          required
        />
      </mat-form-field>
    </div>
  </form>
  <div fxLayout="row" fxLayoutAlign="end" mat-dialog-actions>
    <button mat-button class="button-option-alt" mat-dialog-close>
      Cancel
    </button>
    <button
      mat-button
      class="button-option-main"
      (click)="onSubmit()"
      [disabled]="!myForm.valid"
    >
      Update
    </button>
  </div>
</div>
