<mat-card class="example-card mgl-map-overlay-top" tabindex="0">
  <mat-card-subtitle>Search</mat-card-subtitle>
</mat-card>

<mat-card class="example-card mgl-map-overlay-bottom" tabindex="1">
  <p class="mat-title" style="margin-bottom: 4px">Cultural Content</p>
  <mat-card-subtitle>Search this area</mat-card-subtitle>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div
        fxLayout="column"
        class="content-column"
        *ngFor="let offer of offers"
      >
        <button [routerLink]="'/offers/search/name'" mat-button disableRipple="true">
          <img [src]="offer.img" />
          <p>{{ offer.name }}</p>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
