<div class="flex-parent">
    <div class="flex-container">
        <div class="item">
            <p class="title font" style="font-size:2.5vw;">Welcome to CultYourself</p>
            <p class="font" style="font-size:1vw;">To keep connected with us please create a new account</p>
        </div>
        <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" >
            <div class="item">
                <div class="flex-subcontainer">
                    <mat-form-field appearance="outline" style="padding-right: 5px;" >
                        <mat-label>Name</mat-label>
                        <input 
                            matInput
                            [formControlName]="'name'"
                            id="name"
                        />
                        <mat-hint 
                            *ngIf="f.name.touched && f.name?.errors?.required"
                            class="error"
                        >
                            Name is required.
                        </mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="padding-left: 5px;">
                        <mat-label>Surname</mat-label>
                        <input 
                            matInput 
                            [formControlName]="'surname'"
                            id="surname"
                        />
                        <mat-hint 
                            *ngIf="f.surname.touched && f.surname?.errors?.required"
                            class="error"
                        >
                            Surname is required.
                        </mat-hint>
                    </mat-form-field>
                </div>
                <mat-form-field [style.width.%]="100" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input 
                        matInput 
                        [formControlName]="'username'"
                        id="username"
                        (ngModelChange)="onTouchField('username', usernameErr)"
                    />
                    <mat-hint 
                        *ngIf="f.username.touched && f.username.invalid && f.username.errors.required"
                        class="error"
                    >
                        Email is required.
                    </mat-hint>
                    <mat-hint 
                        *ngIf="f.username.touched && f.username.invalid && f.username.errors.email"
                        class="error"
                    >
                        Please enter a valid email address.
                    </mat-hint>
                    <mat-hint 
                        *ngIf="usernameErr"
                        class="error"
                        id="usernameExists"
                    >
                        {{errMsg}}
                    </mat-hint>
                </mat-form-field>
                <mat-form-field [style.width.%]="100" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input 
                        matInput
                        [type]="hidePassword ? 'password' : 'text'" 
                        [formControlName]="'password'"
                        id="password"
                        />
                    <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-hint 
                        *ngIf="f.password.touched && f.password.invalid && f.password.errors.required"
                        class="error"
                    >
                        Password is required.
                    </mat-hint>
                    <mat-hint 
                        *ngIf="f.password.touched && f.password.invalid && f.password.errors.minlength"
                        class="error"
                    >
                        Password should be at least 5 characters long.
                    </mat-hint>
                </mat-form-field>
                <mat-form-field [style.width.%]="100" appearance="outline">
                    <mat-label>Confirm password</mat-label>
                    <input 
                        matInput 
                        [type]="hideConfirmPassword ? 'password' : 'text'" 
                        [formControlName]="'confirmPassword'"
                        id="confirmPassword"
                        ngValidateEqual="password"
                        />
                    <button type="button" mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
                        <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-hint 
                    *ngIf="(f.confirmPassword.dirty || f.confirmPassword.touched) && f.confirmPassword.invalid"
                    class="error"
                    >
                        Passwords don't match.
                    </mat-hint>
                    <mat-hint 
                        *ngIf="(f.confirmPassword.dirty || f.confirmPassword.touched) && !f.confirmPassword.invalid" 
                        class="success">
                        Passwords match.
                    </mat-hint>
                </mat-form-field>
            </div>
            <div class="item">
                <button 
                    class="button" 
                    mat-flat-button
                    type="submit"
                    [disabled]="registerForm.invalid"
                    >REGISTER</button>
                <p id="signIn" class="link"><a [routerLink]="['/login']">Already have an account? Sign in now</a></p>
            </div>
        </form>
    </div>
</div>



