<div class="example-container mat-elevation-z8">
  <div
    class="card-header"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="5%"
  >
    <div>Admins</div>

    <mat-form-field class="search-field">
      <input matInput (keyup)="applyFilter($event)" #input />
      <mat-placeholder class="placeholder">Search</mat-placeholder>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <button class="new-item-btn" mat-button (click)="openAddDialog()">
    NEW ADMIN
  </button>
  <div class="example-table-container">
    <!-- Name row -->
    <table mat-table [dataSource]="dataSource" class="example-table" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">
          {{ row.name + " " + row.surname }}
        </td>
      </ng-container>

      <!-- Username row -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
        <td mat-cell *matCellDef="let row">{{ row.username }}</td>
      </ng-container>

      <!-- Actions row -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row">
          <button
            mat-icon-button
            (click)="openDeleteDialog(row)"
            disableRipple="true"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="tableColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: tableColumns"></tr>
    </table>
  </div>

  <mat-paginator
    class="paginator"
    [pageSizeOptions]="[10, 15, 20]"
  ></mat-paginator>
</div>
