<div class="flex-parent">
    <div class="flex-container">
        <div class="item">
            <p class="title font" style="font-size:2.5vw;">CultYourself</p>
            <p class="font" style="font-size:1vw;">Create a password at least 5 characters long</p>
        </div>
        <form (ngSubmit)="onSubmit()" [formGroup]="resetForm">
            <div class="item">
                <mat-form-field [style.width.%]="100" appearance="outline">
                    <input 
                        matInput 
                        placeholder="New password" 
                        [type]="hide ? 'password' : 'text'" 
                        [formControlName]="'newPassword'"
                    />
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-hint 
                        *ngIf="f.newPassword.touched && f.newPassword.invalid && f.newPassword.errors.required"
                        class="error"
                    >
                        Password is required.
                    </mat-hint>
                    <mat-hint 
                        *ngIf="f.newPassword.touched && f.newPassword.invalid && f.newPassword.errors.minlength"
                        class="error"
                    >
                        Password should be at least 5 characters long.
                    </mat-hint>
                </mat-form-field>
                <mat-form-field [style.width.%]="100" appearance="outline">
                    <input 
                        matInput 
                        placeholder="Confirm new password" 
                        [type]="hide ? 'password' : 'text'" 
                        [formControlName]="'confirmPassword'"
                        ngValidateEqual="newPassword"
                        />
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-hint 
                    *ngIf="(f.confirmPassword.dirty || f.confirmPassword.touched) && f.confirmPassword.invalid"
                    class="error"
                    >
                        Passwords don't match.
                    </mat-hint>
                    <mat-hint 
                        *ngIf="(f.confirmPassword.dirty || f.confirmPassword.touched) && !f.confirmPassword.invalid" 
                        class="success">
                        Passwords match.
                    </mat-hint>
                </mat-form-field>
            </div>
            <div class="item">
                <button 
                    class="button" 
                    mat-flat-button
                    type="submit"
                    >RESET PASSWORD</button>
                <p class="link"><a [routerLink]="['/login']">Back to login</a></p>
            </div>
        </form>
    </div>
</div>