::ng-deep .mat-snack-bar-container{
    color: #033f11 !important;
    background-color: #54f777 !important;
    border-color: #03ff3d !important;
  }
  
  ::ng-deep .mat-simple-snackbar-action {
    color: #033f11;
  }