<div class="review-dialog">
  <h1 mat-dialog-title class="text-centre">Add Category</h1>
  <div mat-dialog-content fxLayout="column">
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="newObj.name" name="name" />
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="end" mat-dialog-actions>
    <button mat-button class="button-option-alt" mat-dialog-close>
      Cancel
    </button>
    <button mat-button class="button-option-main" (click)="onSubmit()">
      Post
    </button>
  </div>
</div>
