<div class="review-dialog">
  <h1 mat-dialog-title class="text-centre">{{ data.name }}</h1>
  <div mat-dialog-content>
    <div fxLayout="row">
      <div class="avatar">
        <ngx-avatar [value]="newObj.user.name[0] + newObj.user.surname[0]" size="45"></ngx-avatar>
      </div>

      <div class="username-text" fxLayoutAlign="center center">
        {{ username }}
      </div>
    </div>

    <div class="row-indent">
      <div class="rating-row">
        <app-star-rating [maxRating]=5 gap="10px" (newRatingEvent)="onRatingChanged($event)"></app-star-rating>
      </div>

      <div class="comment-row">
        <mat-form-field class="text-area">
          <textarea
            matInput
            [(ngModel)]="newObj.content"
            placeholder="Type something..."
            cdkTextareaAutosize="false"
          ></textarea>
        </mat-form-field>
      </div>

      <app-image-selector
        [multiple]="true"
        (newFilesEvent)="onFilesSelected($event)"
      ></app-image-selector>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="end" fx mat-dialog-actions>
    <button mat-button mat-dialog-close class="button-option-alt">
      Cancel
    </button>
    <button mat-button (click)="onSubmit()" class="button-option-main" [disabled] = "newObj.rating === 0">
      Post
    </button>
  </div>
</div>
