<div class="flex-parent">
    <div class="flex-container">
        <div class="item">
            <img class="picture" src="assets/imgs/forgot-pass.jpg">
        </div>
        <div class="item">
            <p class="title font" style="font-size:2.5vw;">Trouble Logging In?</p>
            <p class="font" style="font-size:1vw;">Enter your email and we'll send you a link to get back into your account</p>
        </div>
        <form (ngSubmit)="onSubmit()" [formGroup]="forgotPasswordForm">
            <div class="item">
                <mat-form-field [style.width.%]="100" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input 
                        matInput
                        [formControlName]="'username'"
                        (ngModelChange)="onTouchField('username', usernameErr)"/>
                    <mat-hint 
                        *ngIf="f.username.touched && f.username.invalid && f.username.errors.required"
                        class="error"
                    >
                        Email is required.
                    </mat-hint>
                    <mat-hint 
                        *ngIf="f.username.touched && f.username.invalid && f.username.errors.email"
                        class="error"
                    >
                        Please enter valid email address.
                    </mat-hint>
                    <mat-hint 
                        *ngIf="usernameErr"
                        class="error"
                    >
                        {{errMsg}}
                    </mat-hint>
                </mat-form-field>
            </div>
            <div class="item">
                <button 
                    class="button" 
                    mat-flat-button
                    type="submit"
                    [disabled]="forgotPasswordForm.invalid"
                >SEND LOGIN LINK</button>
                <p class="link"><a [routerLink]="['/login']">Back to login</a></p>
            </div>
        </form>
    </div>
</div>


