@import '../../../login/pages/login-page/login-page.component.scss';


.picture {
    width: 300px;
    height: 300px;
    align-self: center;
}

.title {
    margin-top: 0;
  }

.item {
    flex: 1 0;
    margin: 1vw;
    display: flex;
    flex-direction: column;
}