<div fxLayout="row" class="btn-row">
  <div fxLayout="column" fxLayoutAlign="center center">
    <ngx-avatar
      [value]="review.user.name[0] + review.user.surname[0]"
      size="45"
    ></ngx-avatar>
  </div>
  <div fxLayout="column" fxLayoutAlign="center start">
    <span class="review-user">
      {{ review.user.name + " " + review.user.surname }}
    </span>

    <div fxLayout="row" fxLayoutAlign="start center">
      <app-star-rating
        [maxRating]="5"
        [rating]="review.rating"
        [size]="25"
        [readonly]="true"
      ></app-star-rating>
      <div class="date-field">{{ review.datePosted | date }}</div>
    </div>
  </div>
</div>

<p class="review-content" style="margin-top: 8px">
  {{ review.content }}
</p>

<carousel
  class="carousel-item"
  *ngIf="review.pictures.length > 0"
  [cellsToShow]="carouselCells()"
  [images]="review.pictures"
  [borderRadius]="10"
>
</carousel>
