<div fxLayout="row" class="btn-row">
    <div fxLayout="column" fxLayoutAlign="center center">
      <ngx-avatar value="S" size="45"></ngx-avatar>
    </div>
    <div fxLayout="column" fxLayoutAlign="center start">
      {{ review.name }}
      <app-star-rating [maxRating]=5 [rating]="review.rating" [size]="25" [readonly]="true"></app-star-rating>
    </div>
  </div>

  <p style="margin-top: 8px;">
    {{ review.text }}
  </p>

  <carousel [cellsToShow]="3" [images]="review.images" [borderRadius]="10">
  </carousel>