<mat-card class="category-card mgl-map-overlay-stack" tabindex="1">
  <p class="mat-title" style="margin-bottom: 4px">{{category.name}}</p>
  <!--mat-card-subtitle>Search this area</mat-card-subtitle-->
  <mat-card-content>
      <div class="category-container">
        <div
            class="content-column"
            *ngFor="let subcat of category.subcats"
        >
            <button
                [routerLink]="'offers/search/' + subcat.path"
                mat-button
                disableRipple="true"
            >
                <img [src]="subcat.img" />
                <p>{{ subcat.name }}</p>
            </button>
      </div>
  </div>
</mat-card-content>
</mat-card>