.img-row {
  margin: 15px 10px 15px 0px;
}

.upload-btn {
  background-color: white;
  border: none;
  cursor: pointer;
  border: 2px solid #efefef;
  border-radius: 5px;
  margin-bottom: 10px;
  &:hover {
    background-color: #f8f8f8;
  }

  .img-icon-container {
    width: 110px;
    height: 90px;

    .icon {
      color: #1a73e8;
    }
  }
}

.image-preview {
    border-radius: 5px;
    width: 125px;
    height: 95px;
}
