@import '../../pages/landing-page/landing-page.component.scss';

.result-card {
  margin-bottom: 15px;
  padding-bottom: 0px;
  min-height: 190px;
  cursor: pointer;
  border: 1px solid #c2c2c2;
}

.result-card:hover {
  background-color:#F5F5F5;
}

.img-col {
  img {
    border-radius: 10%;
    height: 175px;
    width: 175px;
  }
}

.content-col {
  padding: 3px 15px;
  width: 100%;
}

.search-comp {
  @extend %base-card;
}