.result-card {
  margin-bottom: 15px;
  padding-bottom: 0px;
  min-height: 190px;
  cursor: pointer;
  border: 1px solid black;
}

.result-card:hover {
  background-color:#F5F5F5;
}

.img-col {
  img {
    border-radius: 10%;
    height: 175px;
    width: 175px;
  }
}

.content-col {
  padding: 5px 15px;
  width: 100%;
}
