@import '../../pages/landing-page/landing-page.component.scss';

.result-component {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.result-content {
  height: 100%;
}

.no-results {
  font-size: 24px;
}

.pagination-control ::ng-deep ul {
  padding-inline-start: 0px !important;
}

.pagination-control ::ng-deep .ng-star-inserted {
  font-size: 20px;
}

.pagination-control .current,
.btn-info {
  background: #17a2b8 !important;
  border: transparent !important;
  border-radius: 20px !important;
}

.pagination-control .current:hover {
  background: #17a2b8 !important;
  border-radius: 20px !important; 
  border: transparent !important;
}

.result-card {
  margin-bottom: 15px;
  padding-bottom: 0px;
  min-height: 190px;
  cursor: pointer;
  border: 1px solid #c2c2c2;
}

.result-card:hover {
  background-color:#F5F5F5;
}

.img-col {
  img {
    border-radius: 10%;
    height: 175px;
    width: 175px;
  }
}

.content-col {
  padding: 3px 15px;
  width: 100%;
}

.search-comp {
  @extend %base-card;
}