mgl-map {
    /* height : calc(100% - 1px); */
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: fixed;
  }
  .mapboxgl-canvas {
    margin: 0px;
    padding: 0px;
    background-color: gray;
    width: 100% !important;
  }