// @import '../../pages/landing-page/landing-page.component.scss'


.sidebar-drawer {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  height: 100%;
  min-width: 600px;
//   width: 30%;
}
