<carousel [cellsToShow]="3" [images]="images" [borderRadius]="10"> </carousel>

<div class="mat-title" style="margin-top: 16px">Museum of Modern Art</div>

<app-star-rating
  [maxRating]="5"
  [rating]="4"
  [size]="35"
  [readonly]="true"
></app-star-rating>

<div class="mat-subheading-2">Museum of art & history</div>

<div flexLayout="row">
  <button
    mat-raised-button
    (click)="openDialog()"
    class="review-btn"
    disableRipple="true"
  >
    Write a review
  </button>
  <button mat-raised-button class="sub-btn" disableRipple="true">
    Subscribe
  </button>
</div>

<div class="mat-h4 offer-desc">
  We can't wait to welcome you back to SFMOMA! Our goal is to provide visitors
  with a safe and pleasant museum expeience in an atmosphere that is conductive
  to viewing art, studying and relaxing.
</div>

<div class="mat-h3" style="font-weight: 550">Reviews</div>

<div class="review-container" *ngFor="let i of [1, 2, 3, 4]">
  <app-single-review [review]="review"></app-single-review>
</div>
