.offer-desc{
  margin: 20px 0px;
}

.review-container {
  margin-bottom: 50px;
}

.square-button {
  border-radius: 5%;
  width: 120px;
}

.review-btn {
  background-color: #cd0e0e;
  color: white;
  margin-right: 10px;
}

.sub-btn {
  background-color: #5ed1ff;
}

.num-reviews {
  font-size: 1rem;
}

.title-name, .title-address {
  margin: 10px 0px;
}
