<div class="parent" id="offer-parent">
  <div class="header" fxLayout="row" fxLayoutAlign="start center" id="header">
    <button (click)="goBack()" mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div>{{ offer.name }}</div>
  </div>

  <div class="content">
    <carousel [cellsToShow]="3" [images]="images" [borderRadius]="10">
    </carousel>

    <div class="mat-title title-name">{{ offer.name }}</div>

    <div class="title-address">{{ offer.address + ", " + offer.city }}</div>

    <div fxLayout="row" fxLayoutGap="2.5%">
      <app-star-rating
        [maxRating]="5"
        [rating]="offer.averageRating"
        [size]="35"
        [readonly]="true"
      ></app-star-rating>
      <div class="num-reviews" fxLayout="row" fxLayoutAlign="start center">
        {{ totalReviews }} reviews
      </div>
    </div>

    <div class="mat-subheading-2">{{ offer.categoryName }}</div>

    <div flexLayout="row">
      <button
        mat-raised-button
        (click)="openAddDialog()"
        [disabled]="isActionDisabled()"
        class="review-btn"
        disableRipple="true"
      >
        Write a review
      </button>

      <button id="unsubscribe-button" *ngIf="subscribeState == 'subscribed'" [disabled]="isActionDisabled()" mat-raised-button class="unsub-btn" disableRipple="true" (click)="unsubscribe()">
        Unsubscribe
      </button>
  
      <button id="subscribe-button" *ngIf="subscribeState == 'not subscribed'" [disabled]="isActionDisabled()" mat-raised-button class="sub-btn" disableRipple="true" (click)="subscribe()">
        Subscribe
      </button>
  
      <mat-spinner *ngIf="subscribeState == 'loading'" [diameter]="25" style="display: inline; margin-left: 10px;"></mat-spinner>
    </div>

    <div class="mat-h4 offer-desc">
      {{ offer.description }}
    </div>
    
    <div class="mat-h3" style="font-weight: 550">Posts</div>

  <div fxLayout="column" fxLayoutGap="2%">
    <app-single-post
      *ngFor="
        let post of posts
          | paginate
            : {
                itemsPerPage: pageSizePosts,
                currentPage: currentPostPage,
                totalItems: totalPosts
              }
      "
      [post]="post"
    ></app-single-post>
    <div fxLayout="row" fxLayoutAlign="center">
      <pagination-controls
        class="pagination-control"
        previousLabel="Prev"
        nextLabel="Next"
        responsive="true"
        (pageChange)="handlePageChange($event)"
      >
      </pagination-controls>
    </div>
  </div>

    <div class="mat-h3" style="font-weight: 550">Reviews</div>

    <div fxLayout="column" fxLayoutGap="5%">
      <app-single-review
        *ngFor="let rev of reviews"
        [review]="rev"
      ></app-single-review>
    </div>

    <div
      fxLayout="row"
      fxLayoutAlign="center"
      *ngIf="isReviewsLoading && !isLastReviewPage"
      style="margin-top: -100px"
    >
      <mat-progress-spinner
        style="z-index: 100001"
        mode="indeterminate"
        diameter="100"
      ></mat-progress-spinner>
    </div>
  </div>
</div>