<div>
  <carousel [cellsToShow]="3" [images]="images" [borderRadius]="10"> </carousel>

  <div fxLayout="row">
    <button mat-fab color="white" style="margin-right: 10px" (click)="goBack()" >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div fxLayout="column">
      <div class="mat-title title-name">{{ offer.name }}</div>
      
      <div class="title-address">{{ offer.address + ", " + offer.city }}</div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="2.5%">
    <app-star-rating
      [maxRating]="5"
      [rating]="offer.averageRating"
      [size]="35"
      [readonly]="true"
    ></app-star-rating>
    <div class="num-reviews" fxLayout="row" fxLayoutAlign="start center">
      {{ totalReviews }} reviews
    </div>
  </div>

  <div class="mat-subheading-2">{{ offer.categoryName }}</div>

  
  <div class="mat-h4 offer-desc">
    {{ offer.description }}
  </div>

  <div flexLayout="row" style="margin-bottom: 15px;">
    <button
      class="square-button"
      mat-raised-button
      (click)="openAddDialog()"
      class="review-btn"
      disableRipple="true"
    >
      Write a review
    </button>
    <button mat-raised-button class="sub-btn" disableRipple="true" class="square-button">
      Subscribe
    </button>
  </div>
  
  <div class="mat-h3" style="font-weight: 550">Reviews</div>

  <div fxLayout="column" fxLayoutGap="5%">
    <app-single-review
      *ngFor="let rev of reviews"
      [review]="rev"
    ></app-single-review>
  </div>

  <div
    fxLayout="row"
    fxLayoutAlign="center"
    *ngIf="isReviewsLoading && !isLastReviewPage"
    style="margin-top: -100px"
  >
    <mat-progress-spinner
      mode="indeterminate"
      diameter="100"
    ></mat-progress-spinner>
  </div>
</div>
