<div style="height: 100vh; width: 100%">
  <app-map></app-map>
  <router-outlet></router-outlet>
  <div  *ngIf="!isLoggedIn">
    <button
      mat-raised-button
      color="primary"
      class="mgl-map-overlay-right"
      disableRipple="true"
      [routerLink]="'login'"
    >
      Log In
    </button>
  </div>
  <div *ngIf="isLoggedIn">
    <button
      mat-raised-button
      color="primary"
      class="mgl-map-overlay-right"
      disableRipple="true"
      (click)="logout()"
    >
      Log Out
    </button>
  </div>
  
</div>
