<div class="root">
  <mat-drawer-container class="drawer-container" autosize>
    <!-- TOOLBAR -->
    <mat-toolbar class="toolbar">
      <button
        mat-icon-button
        (click)="drawer.toggle()"
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span class="toolbar-title">Admin Dashboard</span>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
        (click)="openLink()"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
        (click)="openLink()"
      >
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>

    <!-- SIDE DRAWER -->
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <div class="parent" fxLayout="column" fxLayoutAlign="start start">
        <mat-list>
          <mat-list-item>
            <div mat-line>Mijat Miletic</div>
          </mat-list-item>
        </mat-list>

        <!-- ICON LIST -->
        <mat-nav-list class="nav-list">
          <mat-list-item
            *ngFor="let link of links"
            [class]="getLastUrlPath() === link.route ? 'disabled-link' : ''"
          >
            <mat-icon mat-list-icon>{{link.icon}}</mat-icon>
            <a matLine [href]="link.route">{{ link.text }}</a>
          </mat-list-item>
        </mat-nav-list>

        <button mat-raised-button class="child">LOGOUT</button>
      </div>
    </mat-drawer>

    <div
      class="main"
      fxLayout="row wrap"
      fxLayout.lt-lg="column"
      fxLayoutAlign="start start"
    >
      <app-offer-table class="flex-cult-table" id="offer-table"></app-offer-table>
      <app-post-table class="flex-table" id="post-table"></app-post-table>
      <app-review-table class="flex-table" id="review-table"></app-review-table>
      <app-admin-table class="flex-table" id="admin-table"></app-admin-table>
      <app-category-table class="flex-table" id="category-table"></app-category-table>
      <app-subcategory-table class="flex-table" id="subcategory-table"></app-subcategory-table>
    </div>
  </mat-drawer-container>
</div>
